<!--aboutme.ejs, Umasangar Ramasamy, 301118867, October 16th 2020-->
<%- include('partials/header'); %>

  <style>
    
    .showcase .showcase-text {
        padding: 4rem;
    }

    .showcase .showcase-img {
      min-height: 30rem;
      background-size: cover;
    }
    
  </style>

  <div class="container text-center">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">About me</h1>
          <h3> My name is Umasangar Ramasamy, I was born in Sri lanka. I came to Canada when I was 10 years old.  I live with my mom.  My hobbies are playing basketball and weight lifting.  I choose software to pursue my career. Before attending program, I went to construction school. I was certified by Ontario to build and renovate houses. In 2019, I got into a car accident where I hurt my back and legs. This prevented me from doing construction. This accident cause me to change field.  So I chose software engineering.</h3>
        </div>
      </div>
  </div>
<%- include('partials/footer'); %>