<!--landing.ejs, Umasangar Ramasamy, 301118867, October 16th 2020-->
<%- include('partials/header'); %>

<style>

</style>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div style="text-align: center; padding-top: 20%;"> 
                <h1 style="font-size: 5em">Welcome to my Personal Portfolio </h1>
                <h4 style="font-size: 1.5em; padding-top: 75px;"><q>My mission is to constantly strive to be the best version of myself</q></h4>
                <hr style="width:400px;">
                <a class="btn btn-primary btn-lg" href = "/aboutme">About me </a>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer'); %>