<!--projects.ejs, Umasangar Ramasamy, 301118867, October 16th 2020-->
<%- include('partials/header'); %>
    <style>
    
    .showcase .showcase-text {
        padding: 4rem;
    }

    .showcase .showcase-img {
      min-height: 30rem;
      background-size: cover;
    }
    
    </style>
    <div class="container text-center"> 
        <header id="image" class="jumbotron">
            <div class="container">
                <h1> Projects </h1>
            </div>
        </header>
        <section class="showcase">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://i2.wp.com/farm5.staticflickr.com/4701/39738434372_576a310daa_k.jpg?resize=1068%2C712&ssl=1');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h1>Massage Spa</h1>
              <h4 class="lead mb-0">This project the owner spend  a lot money. The tiles cost almost $2000. The plumbing cost $2000. This stand up shower is custom massage spa. The massage spa system alone cost $1000. The end result was a big smile on by owner.</h4>
            </div>
          </div>
          <div class="row no-gutters; padding-top: 100px;">
            <div class="col-lg-6 my-auto showcase-text">
              <h1>Bathroom</h1>
              <h4 class="lead mb-0">There was a bath tub before and I converted it in to a stand up shower. I helped the ower with design and help reduce the cost of the material.</h4>
            </div>
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://www.lowes.ca/-/media/lowes/images/ideas-how-tos/ideas%20and%20inspiration/11%20modern%20bathroom%20renovations/11-bathroom-renovation-ideas-hero-1015x571.jpg?h=571&w=1015&la=en-CA&hash=5EF1FBD05CFDE25F9525D760D35C56F7007200E3');"></div>
          </div>
          <div class="row no-gutters; padding-top: 100px;">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://collectivegen.com/wp-content/uploads/2019/10/before-and-after-make-it-yours-bunnings-master-bedroom-renovation-15-of-16-778x542.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h1>Master Bedroom</h1>
              <h4 class="lead mb-0">This project was done in a master bedroom in a condo. On the wall we used soild wood panels and sliding door. New laminate flooring and new baseboard. I also painted the walls</h4>
            </div>
          </div>
        </div>
      </section>
    </div>
<%- include('partials/footer'); %>